* {
    scrollbar-width: thin;
    scrollbar-color: rgb(175, 175, 175) rgba(255, 255, 255, 0.267);
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "omnium-wide", monospace;
    color: #615d59;
    cursor: url("/img/pointer.png") 1 5, default;
    min-height: 100vh;
    background-image: url("/img/bullet-cluster.png");
    background-attachment: fixed;
}

::selection,
::-moz-selection {
    background: black;
    color: white;
    text-shadow: none;
}

.tabcontent {
    animation: fadeInUp 0.4s ease-out;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



a,
.icon,
.logo,
pre>a {
    color: #3884b6;
    text-decoration: dashed underline 1px #3884b6;
    cursor: url("/img/help.png") 1 5, pointer;
}

a:hover {
    color: #e98e3a;
    text-decoration: underline 1px #3884b6;
    background-color: rgba(255, 255, 255, 0.8);
}

a[target="_blank"]::after {
    content: " ↗";
}

p,
h1,
h2,
h4,
h5,
h6 {
    font-family: "omnium", monospace;
}

.cool {
    color: #e98e3a;
    font-family: "omnium-wide", monospace;
}

span {
    font-family: monospace;
}

.board .invis {
    color: #e2e4e6;
}

.okay {

    color: lime;
}

.warn {

    color: orange;
}

.err {
    color: red;
    font-weight: bold;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.logo {
    width: 85vw;
    max-width: 500px;
}

.tagline {
    color: #7e7e7e;
    margin-bottom: 0.7rem;
    text-align: right;
    text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white,
        0 0 10px white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background: linear-gradient(145deg, #dadada, #8b8b8b);
    border-radius: 50%;
    box-shadow: 0 0 5px #aaa;
    margin-right: 8px;
}

nav a {
    display: flex;
    align-items: center;
    margin: 0.2rem 1rem;
    font-size: 1.1rem;
    color: #0e517e;
    text-decoration: none;
    border-bottom: 1px solid #999;
    padding: 0.4rem;
    border-radius: 90px 40px 40px 90px;
    background: linear-gradient(145deg,
            rgba(226, 226, 226, 0.5),
            rgba(193, 193, 193, 0.5));
    backdrop-filter: blur(8px);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.6),
        inset 0 -1px 2px rgba(0, 0, 0, 0.2), 0 1px 4px #c3c3c3;
    width: 139px;
}

nav a:hover {
    background: linear-gradient(145deg,
            rgba(226, 226, 226, 0.6),
            rgba(193, 193, 193, 0.6));
    color: #e98e3a;
    text-decoration: none;
}

nav a:hover .icon {
    background: linear-gradient(145deg, #e4e4e4, #999999);
}

nav a:hover .icon::before {
    content: "";
    display: block;
    height: 3rem;
    width: 3rem;
    background-image: url("/img/flare.png");
    background-size: contain;
    background-position: top left;
    position: relative;
    top: -1.8rem;
    right: -6.6875rem;
    pointer-events: none;
}

nav a:active {
    color: #e98e3a;
}

nav a:active .icon {
    background: linear-gradient(145deg, #8f8f8f, #cfcfcf);
}

.main ul {
    font-style: normal;
    padding-top: 0.4rem;
}

.main li::marker {
    content: "▌ ";
    line-height: 1em;
    color: #615d59;
}

.main li:has(a:hover)::marker {
    content: "▐ ";
    color: #e98e3a;
}

.main {
    margin-top: 1rem;
    width: 80vw;
    max-width: 650px;
    border: 1px solid #9eabb4;
    border-radius: 12px;
    padding: 1rem;
    font-size: large;
    background: linear-gradient(145deg,
            rgba(226, 226, 226, 0.5),
            rgba(193, 193, 193, 0.5));
    backdrop-filter: blur(8px);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.6),
        inset 0 -1px 2px rgba(0, 0, 0, 0.2), 0 1px 4px #c3c3c3;

}

.main p,
.main h3 {
    padding-top: 0.5em;
    font-style: italic;
    text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white,
        0 0 10px white;
}

.board {
    display: block;
    padding: .7rem;
    margin: 0.5rem 0;
    border-left: 2px solid #615d59;
    border-right: 2px solid #615d59;
    border-radius: 4px;
    background-color: #e2e4e6;
}

.board p {
    padding: 0;
    font-family: monospace;
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    color: #e98e3a;
    text-shadow: none;
}

.board.ind p {
    text-indent: -1em;
    /* Pull the first line back */
    padding-left: 1em;
    /* Push all lines forward */
}

.terminal {
    display: block;
    padding: 0.7rem;
    border: 3px ridge #aaa;
    background-color: #050016;
    margin: 0.5rem 0;
    color: white;
    font-family: monospace;
    font-size: 1rem;
    scrollbar-color: #aaa rgba(0, 0, 0, 0.247);
}

.terminal *::selection,
.terminal *::-moz-selection {
    color: black;
    background-color: white;
}

.term-mh {
    max-height: 15rem;
    overflow-y: auto;
    overflow-x: hidden;

}

.terminal-screen {
    display: none;
}

.terminal-screen.active {
    display: block;
}

.terminal a {
    font-family: monospace;
    color: #0069e2;
    text-decoration: 1px dashed underline #0069e2;
    font-weight: bold;

}

.terminal a:hover {
    background-color: white;
    color: blue;
    text-decoration: underline blue;
}

footer {
    margin-top: 1rem;
    font-size: 0.8rem;
    width: 75vw;
    max-width: 600px;
}

footer p {
    text-shadow: 1px 0 0 white, -1px 0 0 white, 0 1px 0 white, 0 -1px 0 white,
        0 0 10px white;
    color: #999999;
}

.cursor {
    animation: blink 1s step-start 0s infinite;
}

.terminal .cursor {
    animation: blink 1s step-start 0s infinite;
    color: white
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes glitchFlash {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.restart {
    color: #ff4848;

}

.benormal {
    color: white
}